body {
    background-color: darkorange;
    color: rgb(241, 18, 10);
}


h1{

    color: honeydew;
    background-color: lawngreen;
    font: italic 200%  fantasy;
    text-align: center;
    border: 3px groove #380ba3;
}