body {    
    background-image: url("image1.jpeg");
    background-color: darkorange;
    background-position: center;
    background-repeat:repeat ;
    color: rgb(247, 239, 239);
}


h1{

    color: honeydew;
    background-color: lawngreen;
    font: italic 200%  fantasy;
    text-align: center;
    border: 3px groove #380ba3;
    width: fit-content;
    padding: 10px;
}


h2 {
    color: lightcoral;
    background-color: #3f1139;
    width: fit-content;
    padding: 5px; 
}

h3 {
    color: rgb(13, 14, 13);
    background-color: rgb(243, 64, 10);
    width: fit-content;
    padding: 10px;

}

h4 {
    color: lightyellow;
    background-color: slateblue;
    width: fit-content;
    padding: 10px;
}



img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}



a {
    background-color: orange;
    color: peachpuff;
    padding: 5px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 800;
    border-radius: 5px;
}


a:hover {
    background-color: rgb(12, 238, 31);
    color: rgb(252, 249, 245);
    padding: 10px;

}

table{
    background-color: rgb(204, 109, 140);
    color: rgb(7, 11, 223);
    padding: 10px;
    width: 500px;
    
}


/* Classes --- you can change a  paricular tag using the class --- dot noation */

.TopNav {  /* Top Navigation */

    background-color: papayawhip;
    width: auto;
    padding: 10px;
}


/* Format the form fields */

input[type=text] {

    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: #095ce0;
    color: #0d0f12;

}



input[type=text]:focus {
    border: 5px solid #e32407;
}



input[type=password] {

    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color:#095ce0;
    color: #0d0f12;

}


/* Format the buttons */

input[type=submit] {

    background-color: green;
    color: ivory;
    width: 100px;
    padding: 10px 22px;
    border: 5px solid #095ce0;
}


input[type=reset] {

    background-color: green;
    color: ivory;
    width: 100px;
    padding: 10px 22px;
    border: 5px solid #095ce0;
}


input[type=submit]:hover {

    background-color: ivory;
    color: green;
    border-radius: 10px;
    width: 120px;

}

input[type=reset]:hover {

    background-color: ivory;
    color: green;
    border-radius: 10px;
    width: 120px;

}























